<%-include('partials/head')%>
   
  </head>

  <body class="bg-gray-100 font-serif">
  
    <main class="container mx-auto bg-white  p-8 mt-10 max-w-xl">
  <h1 class="text-red-700 text-center font-serif">404 Your Page is not found airbnd!</h1>
  <a href="/" class="">Go To Home</a>
</main>
      
    
   
<%-include('partials/footer')%>