<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    
    <link rel="stylesheet" href="output.css">
  </head>

  <body>
    <header>
      <h1 class="text-red-600">Welcome to Home Page</h1>
  
    </header>
    <main>
      <a href="/host/add_home">Home</a>
    </main>

    
  </body>
</html>
