<%-include('partials/head')%>
  </head>

  <body>
    <%-include('partials/footer')%>
    
      <h1>Home Register Successfully</h1>
    
    
    <main>
      <a href="/">Go To Home</a>
    </main>
    <%-include('partials/footer')%>
    